.containerr{
/* display: flex; */
display: flex;
/* border: 2px solid yellow; */
/* margin:12px; */
/* border: 2px solid red; */
/* margin: 27px; */
margin-top: 28px;
margin-left:12px ;
margin-bottom: 25px;
margin-right:3px;
/* width: 90%; */
/* border: 2px solid greenyellow; */
/* flex-direction: column; */
/* align-items: center;

justify-content: center; */
}

.img{
height: 220px;
width: 150px;
/* margin: 1px; */
/* align-items: center; */
/* margin-left: 0px; */
/* margin-right: 10px; */


transition: transform 500ms;



}

.containerr .img:focus,
.containerr .img:hover {
  transform: scale(1.25);
  z-index: 1;
  cursor: pointer;
}